# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.eggs/
*.pyo

# Virtual environments
.venv/
env/
venv/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS-specific files
.DS_Store
Thumbs.db